.task {
  width: 100%;
  flex-grow: 1;
}

.taskContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.desc {
  font-size: 20px;
}

.priorityWrapper {
  display: flex;
  justify-content: flex-end;
}

.timeInfo {
  font-size: 18px;
  width: 60%;
  border-bottom: 1px dashed var(--primary-accent);
  padding-bottom: 10px;
}

.row {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.filePicker {
  display: none;
}

@mixin icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.attachIcon {
  @include icon;
}

.editIcon {
  @include icon;
  stroke: var(--primary-accent-light);
  path {
    fill: var(--primary-accent-light);
  }
}